header .navbar .navbar-nav>li a {
    /* color: #555; */
    /* background-color: #e7e7e7; */
    font-family: acumin-pro,sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #08274d;
}

header .navbar .navbar-header .navbar-brand {
    max-width: 150px;
}
.navbar-header .navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
a {
    color: #0b56a6;
    text-decoration: none;
    background-color: transparent;
}

header .navbar .navbar-header .navbar-brand img.default {
    display: block;
}
header .navbar .navbar-header .navbar-brand img {
    max-width: 100%;
}
img, svg {
    vertical-align: middle;
}
img {
    border-style: none;
}